body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .header1
  {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
  
  }
  .nav-items > ul {
    display: flex;
    list-style-type: none;
    
  
  }
  .nav-items > ul > li {
    padding: 10px ;
  }
  /* li
  {
    padding: 10px;
  } */
  .logo{
    width: 100px;
  }
  .card{
    width: 20%;
    border: 1px solid rgb(211, 196, 196);
    padding: 10px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img{
      width: 100%;
      height: 100%;
    }
    div{
      width: 100%;
      .namevar{
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.75rem;
        margin-bottom: 0.5rem;
      }
      .stock{
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: rgb(34 197 94);
      }
      .price{
        font-weight: 700;
      }
    }
  }

  .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
  }
  .Mp
  {
    display: flex;
    justify-content: space-between;
  }
  .Mc
  {
   width: 40vw;
   
   
  }
  ul
  {
    display: flex;
   gap: 15px;
    list-style: none;
    justify-content: flex-end;
  }
  li{
    border: 1px solid red;
    color: red;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  .stock
  {
    color: green;
    margin-top: 0px;
    margin-top: 0px;
  }
  .namevar{
    margin-bottom: 3px;
  }
  .price{
    margin-top: 0px;
  }
  .leftmenu{
    display: flex;
    gap: 5px;
    
  }
  button{
    width: 100px;
    height: 30px;
    margin-top: 15px;
    
    
  }
  .svg{
   
    float:right;
  }


  .itemDetails{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 20px;

    .product-image-container{
      width: 25%;
      border: 1px solid gray;
      border-radius: 2px;
      img{
        width: 100%;
      }
    }
    .itemContainer{
      width: 45%;
      .item-title{
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem;
      }
      .inventory{
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.75rem;
      }
      .price{
        color: rgb(249, 115, 22);
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
      .varient-title{
        font: 1.125rem;
        font-weight: 700;
        line-height: 1.75rem;
      }
      .varient-value-title{
       font-size: 0.875rem;
       line-height: 1.25rem;
       font-weight: 500;
       padding: 4px;
      }
      .selected-item{
        border-color: rgb(249 115 122);
      }
      h3{
        margin: 8px 0;
      }
      img{
        width: 100%;
      }
      .varient-container{
        display: flex;
        gap: 16px;
        height: max-content;
        justify-content: flex-start;
        .varient-img-box{
          width: 100px;
          border: 2px solid  rgb(249 115 122);
          border-radius: 6px;
          text-align: center;
          h6{
            margin: 8px 0;
          }
          .varient-img{
            width: 80px;
          }
        }
      }
    }
    .related-product{
      width: 25%;
      .releted-product-container{
      height: 350px;
    overflow-y: auto;
      }
      button{
        padding: 0.5rem 0;
        font-weight: 600;
        color: white;
        width: 100%;
        border: none;
        height: 40px;
      }
      .buy-now{
        background-image: linear-gradient(to right, #f97316 , #3b82f6);
      }
      .add-to-cart{
        background-color: rgb(34 197 94);
      }
      
    .related-product-title{
      margin-top: 32px;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
      .similar-products{
        background-color: rgb(229 ,231, 235);
        padding: 10px 0;
        .similar-product-card{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-around;
          .img-container{
            width: 70px;
            img{
              width: 50px;
            }
          }
          .product-name{
            width: 200px;
            margin: 0;
          }
        }
      
        
      }
    }
  }
  @media screen and (max-width: 980px) {
    .card{
      width: 40%;
    }
  }

  @media screen and (max-width: 480px) {
    .card{
      width: 100%;
    }
    .itemDetails {
      .related-product {
          width: 100%;
      }
  }
    .itemDetails{
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      .itemContainer{
        width: 100%;
      }
      .product-image-container{
        width: 100%;
      }
    }
  }
